body {
    font-family: Arial;
    background-color: #fce4ec;
    color: #333;
    padding: 20px;
}

h1 {
    color: #0b0b0b;
}
nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
